<h1 class="text-center">Public recipes </h1>
<main class="public_recipes d-flex flex-column gap-3">
  <% @public_recipes.each do |recipe| %>
    <article class="card d-flex shadow-sm">
      <%= link_to recipe do %>
      <section class="row p-3 text-dark">
        <header class="col">
          <h3 class="mb-4"><%= recipe.name %></h3>
          <h5>By <%= recipe.user.name %></h5>
        </header>
        <div class="col">
          <div><b>Total food items:</b> <%= recipe.all_ingredients.count %> </div>
          <div><b>Total price:</b> $<%= recipe.total_price %> </div>
        </div>
      </section>
      <% end %>
    </article>
<% end %>
</main>
