<h3><%= @recipe.name %></h3> 
    <div>description: <%= @recipe.description %></div>
    <div>cooking time: <%= @recipe.cooking_time %></div>
    <div>preparation time: <%= @recipe.preparation_time %></div>
    <div>public: <%= @recipe.public %></div>
    <hr>