<%= form_with model: @food, method: :post, scope: :new_food do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
  <div>
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>
  <div>
    <%= f.label :measurement_unit %>
    <%= f.text_field :measurement_unit %>
  </div>
  <%= f.submit 'Submit' %>
<% end %>
